.alerta {
  display: grid;
  place-items: center;
  width: 100%;
}
.formulario {
  display: grid;
  place-items: center;
}
.pie-pagina {
  color: white;
  font-size: 14px;
  text-align: center;
  /* position: absolute; */
  /* height: 30px; */
  padding: 10px 0;
  background: linear-gradient(#2780ab, #145777);
}
.pie-pagina > div {
  text-align: center;
  width: 100%;
}

.activar,
.hidden-div {
  display: none !important;
  transition: all 0.2s ease;
}
/* body {
  min-height: 75vh;
  height: 100vh;
  margin-top: 60;
} */
/* html {
  /* min-height: 100%;
} */
.body {
  background: url("../img/Portada-Redes-2023-1536x722.png") center;

  background-size: cover;
  position: relative;
  height: 82.6vh;
  display: grid;
  z-index: 1;
  place-items: center;
}
.body::after {
  content: "";
  height: 100%;
  background: rgba(0, 0, 0, 0.479);
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}
.padre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -45px;
  z-index: 2;
  /* min-height: 450px; */
  /* max-height: 1200px; */
}
.contenedor-div {
  height: 100%;
}
@media (max-width: 950px) {
  .body {
    height: 84vh;
  }
}
